@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$gray-900: #00334e;
$gray-600: #8d93ab;

$theme-colors: (
  "primary": #403ff2,
  "secondary": #8d93ab,
  "danger": #c6303e,
);
$font-family-base: "Poppins", sans-serif;

body {
  color: $gray-900;
}
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "formcustom";
@import "jobs";

.btn {
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 8px;

  @include media-breakpoint-up(lg) {
    padding: 0.75rem 1.25rem;
  }
}

.navbar-light {
  @include media-breakpoint-up(lg) {
    padding: 1.25rem 0rem;
  }

  .navbar-brand {
    color: $gray-900;
    font-size: 24px;
    font-weight: 600;
    &:hover,
    &:focus {
      color: $gray-900;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $gray-600;

      @include media-breakpoint-up(lg) {
        padding: 0rem 0.75rem;
      }

      &:hover,
      &:focus {
        color: $gray-900;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $gray-900;
    }
  }

  .navbar-text {
    color: $gray-600;

    a,
    a:hover,
    a:focus {
      color: $gray-900;
    }
  }
}

.title-hero {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include media-breakpoint-down(sm) {
    align-items: center;
  }

  h1 {
    font-weight: 600;
    font-size: 24px;

    @include media-breakpoint-up(lg) {
      font-size: 48px;
    }
  }

  .btn {
    @include media-breakpoint-up(md) {
      min-width: 300px;
    }

    margin-top: 16px;
    min-width: 80%;
  }
}

.image-placeholder {
  margin: 0;
}

.news-category {
  color: $secondary;
  text-decoration: none;

  &:hover,
  &:focus,
  &.active {
    color: $gray-900;
  }
}

// Card news

.card-news {
  border: none;

  .card-body {
    .card-title {
      font-size: 18px;
    }
    .card-text {
      font-size: 16px;
      color: $secondary;
      text-decoration: none;
    }
  }
}

// Modal

.modal-header {
  border: none;
}

// Form login
.form-login {
  display: flex;
  flex-direction: column;

  justify-content: center;

  .form-floating:first-child {
    margin-top: 3rem;
  }

  .form-floating {
    margin-top: 8px;
    margin-bottom: 8px;

    .form-control {
      border: none;
      outline: none;
      border-bottom: 1px solid $gray-600;
      border-radius: 0;
    }
    .is-invalid {
      border-bottom: 1px solid $danger;
    }
  }

  .btn {
    display: block;
    margin: 8px 0px;
  }
}

footer {
  background-color: $primary;
}

.card-job {
  border-radius: 8px;
  position: relative;

  &.active {
    border-left: 10px solid $primary;
  }

  .card-tag {
    display: flex;
    margin: 0.5rem 0;

    .tags {
      padding: 0.5rem 1.25rem;
      background-color: #ccd6dc;
      border-radius: 100px;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .card-date {
    position: absolute;
    right: 10px;
    bottom: 5px;

    span {
      font-size: 14px;
      color: $gray-600;
    }
  }
}
